main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
  
  min-height: 100vh;
}

html {
  font-size: larger;
  font-weight: 600;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
}

body {
  background-color: var(--bg-body);
  color: var(--text-color);
}

button {
  font-size: medium;
  font-weight: 600;
  background-color: var(--button-bg);
  color: var(--text-color);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: #5ea0d3;
  transform: scale(1.1) translateY(-0.1rem);
}

button:active {
  background-color: #88c4f3;
  transform: scale(1.2) translateY(-0.2rem);
}

a {
  color: #88c4f3;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
}

* {
  transition: 0.2s;
}

footer {
  background-color: var(--container-bg);
  width: 80%;
  align-self: center;
  justify-self: center;
  
  padding: 1rem;
  margin-bottom: 1rem;

  border-radius: 0.5rem;
  border: var(--border);

  text-align: center;
}