html {
    font-size: larger;
    font-weight: 600;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
  
    --button-bg: #548ebb;
  }
  
  body {
    background-color: #181d22;
    color: #d6d6d6;
    --text-color: #d6d6d6;
    --border: solid #64a8db 2px;
    --container-bg: #3f698a;
    --slider-bg: #548ebb;
    --slider-main: #b4d8f3;
    --slider-active: #62a3d4;
    --off-icon-bg: #5188b3;
    --queue-selector-bg: #64a8db;
  }
  
  button {
    font-size: medium;
    font-weight: 600;
    background-color: var(--button-bg);
    color: var(--text-color);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    outline: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5ea0d3;
    transform: scale(1.1) translateY(-0.1rem);
  }
  
  button:active {
    background-color: #88c4f3;
    transform: scale(1.2) translateY(-0.2rem);
  }
  
  a {
    color: #88c4f3;
    cursor: pointer;
    text-decoration: none;
  }
  
  a:hover {
    color: var(--text-color);
  }
  
  * {
    transition: 0.2s;
  }
  
