html {
  font-size: larger;
  font-weight: 600;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
}

body {
  background-color: var(--bg-body);
  color: var(--text-color);
}

button {
  font-size: medium;
  font-weight: 600;
  background-color: var(--button-bg);
  color: var(--text-color);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover);
  transform: scale(1.1) translateY(-0.1rem);
}

button:active {
  background-color: var(--button-active);
  transform: scale(1.2) translateY(-0.2rem);
}

a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
}

* {
  transition: 0.2s;
}
