.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
  color: var(--text-color);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 85vh;
  width: 80%;
  padding: 2.5rem 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background-color: var(--container-bg);
  border: var(--border);
  color: var(--text-color);
}

.infoHead {
  margin-bottom: 1.5rem;
}

.infoBody {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.infoFooter {
  margin-top: 1.5rem;
}

.card {
  padding: 0.5rem;
  background-color: var(--off-icon-bg);
  border: var(--border);
  border-radius: 0.5rem;
}

.infoTitle {
  color: var(--text-color);
}

.cta {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.75rem 1rem;
  background-color: var(--button-bg);
  border-radius: 0.5rem;
  border: var(--border);
  text-align: center;
  font-weight: 700;
  color: var(--text-color);
}

.cta:hover {
  color: var(--text-color);
  transform: scale(1.05) translateY(-0.05rem);
}
